{% extends "base.html" %}
{% block title %}
    {{post.title_tag}}
{% endblock %}
{% block content %}
<h1>{{ post.title }}</h1>
<small>By :{{post.author.first_name}} {{post.author.last_name}}</small><br>
<small>Date: {{post.post_date}}</small><br>
<hr>
<p>{{post.body}}</p><br>

<a href="{% url 'post_list' %}" class="btn btn-secondary">Back</a>
<a href="{% url 'post_update' post.pk %}" class="btn btn-secondary">Update</a>
<a href="{% url 'post_delete' post.pk %}" class="btn btn-danger">Delete</a>
{% endblock %}